.button {
  padding: 1rem;
  font-size: 1.5rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  border: none;
  color: #fff;
  background: #ffc93c;
  border-radius: 0.25rem;
  flex-shrink: 0;
}
